<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="index">

<head>
    <title>Beer</title>
</head>

<body>

    <div layout:fragment="content">
        <div class="container">
            <h1>Beers</h1>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                    <tr th:each="beer : ${beers}">
                        <td th:text="${beer.id}"></td>
                        <td th:text="${beer.name}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>
</html>