<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="index">

<head>
    <title>Student</title>
</head>

<body>

<div layout:fragment="content">
    <div class="container">
        <h1>Students</h1>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
                <tr th:each="student : ${students}">
                    <td th:text="${student.id}"></td>
                    <td th:text="${student.name}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>


</body>
</html>